*
{
    text-align: center;
}

#actions button
{
    padding: 10px;
    color: #fff;
    margin: 5px;
}

#actions .reset
{
    background-color: #800;
}

#actions .refresh
{
    background-color: #080;
}

#logs div
{
    background-color: #ccc;
    text-align: left;
    margin-bottom: 2px;
}

@media(max-width: 768px)
{
    button
    {
        display: block;
        margin: auto;
        padding: 10px;
    }
    #actions button
    {
        margin: auto;
    }
    input
    {
        padding: 10px;
    }
}
